@import '_variables';
@import '_mixins';

// Сброс базовых стилей
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Общие стили
body {
    font-family: $font-stack;
    color: $text-color;
    background-color: $background-color;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: $padding;
}

header {
    background-color: $primary-color;
    color: #fff;
    padding: $padding;
    @include center-text;

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }
}

footer {
    background-color: $primary-color;
    color: #fff;
    padding: $padding;
    @include center-text;

    p {
        font-size: 1rem;
    }
}
