@import '_variables';

// Стили для секций
section {
    padding: $padding 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    h2 {
        font-size: 2rem;
        margin-bottom: $padding;
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .job {
        margin-bottom: $padding;

        h3 {
            font-size: 1.5rem;
            color: $secondary-color;
        }

        ul {
            list-style: disc;
            margin-left: 20px;
        }
    }
}
