.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Helvetica, Arial, sans-serif";
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 20px;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Helvetica, Arial, sans-serif";*/
  font-family: "Arial";*
  color: #333;
  background-color: #f5f5f5;
  padding-left: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #0000ff;
  color: #fff;
  padding: 20px;
  text-align: center;
}
header h1 {
  font-size: 2.5rem;
}
header p {
  font-size: 1.2rem;
}

footer {
  background-color: #111479;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer p {
  font-size: 1rem;
}

section {
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
section p {
  font-size: 1rem;
  line-height: 1.6;
}
section .job {
  margin-bottom: 20px;
}
section .job h3 {
  font-size: 1.5rem;
  color: #2ecc71;
}
section .job ul {
  list-style: url(https://www.svgrepo.com/show/368040/chevron-right.svg);
  margin-left: 20px;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
.myFoto{
  border-radius: 50%;
      width: 200px; /* Ensure the image has a defined width and height */
      height: 200px;
      object-fit: cover;
}

.wrapper {
  display: flex;
}
.block {
  display: inline-block;
  margin: 2px;
  padding-left: 10px;
  height: 200px;
}

.square {
  width: 300px;
  text-align: center;
  vertical-align: center;
  border: #d8dbe9;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  margin: 5px;
}

.square_clear {
  width: 500px;
  text-align: center;
  vertical-align: center;
  padding: 4px;
  margin: 5px;
}

/*.li_contact */
.lli_contact {

  list-style: url(https://cdn-icons-png.freepik.com/32/4937/4937340.png);
  width: 8px; 
  height: 8px;
}


    ul {
        list-style-type: none; /* Remove default bullets */
    }

    li::before {
        content: ""; 
        display: inline-block; 
        width: 20px; 
        height: 20px; 
        background-image: url('https://cdn-icons-png.freepik.com/32/4937/4937340.png');
        background-size: contain; 
        background-repeat: no-repeat;
        margin-right: 5px; 
        vertical-align: middle; 
    }

